html, body {
    height: 100%;
}
body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.admin-content{
    width: 100%;
}
.admin-body{
    padding-top:0;
    align-items: initial;
}
.admin-section-title{
    margin:30px 0;
}
.admin-download-stories{
    margin-bottom: 20px;
}
.admin-stories-table{
    width: 100%;
}
.admin-logout{
    color: white;
    text-decoration: underline;
}
.admin-logout:hover{
    color: white;
    text-decoration: underline;   
}