
.sb-container {
  position: relative;
  overflow: hidden;
  padding-right: 10px;
}

.sb-content {
  height: 100%;
  width: 120%;
  padding-right: 20%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.sb-scrollbar-container {
  position: absolute;
  right: 5px;
  bottom: 5px;
  top: 5px;
  width: 10px;
}

.sb-scrollbar-container-hide { right: -20px; }

.sb-scrollbar {
  position: absolute;
  right: 0;
  height: 30px;
  width: 10px;
  border-radius: 10px;
  background: rgba(50, 50, 50, 0.5);
}

.sb-scrollbar:hover { background: rgba(0, 0, 0, 0.5); }


.container-example1 {
  height: 340px;
  width: 100%;
  max-width:100%;
  padding: 5px 10px;
  margin: auto;
}
