.container h1{
    margin-top: 100px;
}
.container .div-form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container .div-form form{
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 22px -1px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 2px 22px -1px rgba(0,0,0,0.66);
    box-shadow: 1px 2px 22px -1px rgba(0,0,0,0.66);
}
.container .div-form form input{
    width: 294px;
    margin: 5px 0 20px 0;
}
.container .div-form form .buttons{
    text-align: center;
}