@charset "utf-8";

/* CSS Document */

/* Author: Javier Zavaleta */



/*********************************************************************

**** RESET CSS *******************************************************

*********************************************************************/

@import url("css/reset.css");



/*********************************************************************

**** FONT-FACE *******************************************************

*********************************************************************/

@font-face{

  font-family: 'TimesRoman';

  src: url('css/fonts/times.eot');

  src: url('css/fonts/times.eot?#iefix') format('embedded-opentype'),

       url('css/fonts/times.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}



@font-face{

  font-family: 'TimesItalic';

  src: url('css/fonts/times_italic.eot');

  src: url('css/fonts/times_italic.eot?#iefix') format('embedded-opentype'),

       url('css/fonts/times_italic.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}



@font-face{

  font-family: 'TimesBold';

  src: url('css/fonts/times_bold.eot');

  src: url('css/fonts/times_bold.eot?#iefix') format('embedded-opentype'),

       url('css/fonts/times_bold.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}



@font-face{

  font-family: 'HelveticaNeueRoman';

  src: url('css/fonts/helveticaneue_roman.eot');

  src: url('css/fonts/helveticaneue_roman.eot?#iefix') format('embedded-opentype'),

       url('css/fonts/helveticaneue_roman.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}



/*********************************************************************

*** CSS STYLES *******************************************************

*********************************************************************/

body{

  background: #fff;

}



[anim] {

  opacity: 0;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  filter: alpha(opacity=0);

}

[anim].entrar {

  -webkit-animation: formAnim ease-out 0.45s forwards;

  -moz-animation: formAnim ease-out 0.45s forwards;

  -o-animation: formAnim ease-out 0.45s forwards;

  -ms-animation: formAnim ease-out 0.45s forwards;

  animation: formAnim ease-out 0.45s forwards;

}



@-moz-keyframes formAnim {

  0% {

    opacity: 0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    filter: alpha(opacity=0);

    -webkit-transform: translate(0, -30px);

    -moz-transform: translate(0, -30px);

    -o-transform: translate(0, -30px);

    -ms-transform: translate(0, -30px);

    transform: translate(0, -30px);

  }

  100% {

    opacity: 1;

    -ms-filter: none;

    filter: none;

    -webkit-transform: translate(0, 0);

    -moz-transform: translate(0, 0);

    -o-transform: translate(0, 0);

    -ms-transform: translate(0, 0);

    transform: translate(0, 0);

  }

}

@-webkit-keyframes formAnim {

  0% {

    opacity: 0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    filter: alpha(opacity=0);

    -webkit-transform: translate(0, -30px);

    -moz-transform: translate(0, -30px);

    -o-transform: translate(0, -30px);

    -ms-transform: translate(0, -30px);

    transform: translate(0, -30px);

  }

  100% {

    opacity: 1;

    -ms-filter: none;

    filter: none;

    -webkit-transform: translate(0, 0);

    -moz-transform: translate(0, 0);

    -o-transform: translate(0, 0);

    -ms-transform: translate(0, 0);

    transform: translate(0, 0);

  }

}

@-o-keyframes formAnim {

  0% {

    opacity: 0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    filter: alpha(opacity=0);

    -webkit-transform: translate(0, -30px);

    -moz-transform: translate(0, -30px);

    -o-transform: translate(0, -30px);

    -ms-transform: translate(0, -30px);

    transform: translate(0, -30px);

  }

  100% {

    opacity: 1;

    -ms-filter: none;

    filter: none;

    -webkit-transform: translate(0, 0);

    -moz-transform: translate(0, 0);

    -o-transform: translate(0, 0);

    -ms-transform: translate(0, 0);

    transform: translate(0, 0);

  }

}

@keyframes formAnim {

  0% {

    opacity: 0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    filter: alpha(opacity=0);

    -webkit-transform: translate(0, -30px);

    -moz-transform: translate(0, -30px);

    -o-transform: translate(0, -30px);

    -ms-transform: translate(0, -30px);

    transform: translate(0, -30px);

  }

  100% {

    opacity: 1;

    -ms-filter: none;

    filter: none;

    -webkit-transform: translate(0, 0);

    -moz-transform: translate(0, 0);

    -o-transform: translate(0, 0);

    -ms-transform: translate(0, 0);

    transform: translate(0, 0);

  }

}



/*********************************************************************

*** MAIN MENU ********************************************************

*********************************************************************/

.menu,
.menu-history{

	background: #05301a;

	display: flex;

	align-items: center;

	margin-left: -177px;

	padding: 10px 0px;

	position: fixed;

    z-index: 2;

	top: 0;

	left: 50%;

}

.menu a,
.menu-history a{

	font-size: 1px;

	color: #fff;

	border-left: 1px #82988d solid;

	text-decoration: none;

	text-indent: -9999px;

	height: 30px;

	outline: none;

}



.menu a.icologo,
.menu-history a.icologo{

	background: transparent url(css/images/logo_fabercastell.jpg) no-repeat 50% 50%;

	background-size: 170px auto;

	border-left: 0;

	height: 60px;

	width: 170px;

}



.menu a.ico01,
.menu-history a.ico01{

	background: transparent url(css/images/intro/ico_pencil2.png) no-repeat 50% 50%;

	background-size: 30px auto;

	width: 60px;

}



.menu a.ico02,
.menu-history a.ico02{

	background: transparent url(css/images/intro/ico_gift2.png) no-repeat 50% 50%;

	background-size: 30px auto;

	width: 60px;

}



.menu a.ico03,
.menu-history a.ico03{

	background: transparent url(css/images/intro/ico_pin2.png) no-repeat 50% 50%;

	background-size: 20px auto;

	width: 60px;

}



/*********************************************************************

*** PAGE: HOME *******************************************************

*********************************************************************/

.pageHome{

	background: transparent url(css/images/intro/bg_intro.jpg) no-repeat 50% 100%;

	height: 100vh;

	display: flex;

	flex-direction: column;

	align-items: center;

}

.pageHome.history{
	height: 40vh;
}



.pageHome h1{

	background: transparent url(css/images/logo_fabercastell.jpg) no-repeat 0% 0%;

	font-size: 1px;

	font-weight: normal;

	height: 86px;

	width: 262px;

	text-indent: -9999px;

}



.pageHome .intro{

	background: transparent url(css/images/intro/slogan.png) no-repeat 50% 0%;

	display: flex;

	justify-content: space-between;

	margin-top: auto;

	padding-top: 198px;

	padding-bottom: 80px;

	width: 510px;

}



.pageHome .intro a{

	font-family: "TimesRoman", Arial, Helvetica, sans-serif;

	font-size: 16px;

	color: #fff;

	text-decoration: none;

	padding-top: 84px;

	outline: none;

    opacity: 0.8;

}



.pageHome .intro a:hover {

  opacity: 1;

}



.pageHome .intro a.ico01{

	background: transparent url(css/images/intro/ico_pencil.png) no-repeat 50% 6px;

}



.pageHome .intro a.ico02{

	background: transparent url(css/images/intro/ico_gift.png) no-repeat 50% 0%;

}



.pageHome .intro a.ico03{

	background: transparent url(css/images/intro/ico_pin.png) no-repeat 50% 6px;

}





/*********************************************************************

*** PAGE: LINEA ******************************************************

*********************************************************************/

.pageLinea{

	height: 100vh;

  background: #f6f6ef;

}



.pageLinea .content{

	display: block;

	margin: 0 auto;

	padding-top: 130px;

	padding-bottom: 40px;

	width: 1072px;

}



.pageLinea .content h2{

	font-family: "TimesItalic", Arial, Helvetica, sans-serif;

	font-size: 34px;

	font-weight: normal;

	color: #585858;

	display: block;

	padding-bottom: 40px;

	text-align: center;

}



.pageLinea .content > p{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #505050;

	line-height: 16px;

	display: block;

	margin: 0 auto;

	text-align: center;

	width: 80%;

}



/* - CATALOG - */

.pageLinea .content .catalog{

	display: flex;

	justify-content: space-between;

	padding-top: 50px;

}



/* - FILTER MOVIL - */

.pageLinea .content .catalog .movFilter{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 13px;

	color: #505050;

	display: none;

	border: 1px #7c7c7c solid;

	margin: 0 auto;

	padding: 5px 0px;

	text-align: center;

	text-align-last: center;

	width: 200px;

}

/* ---------------- */



.pageLinea .content .catalog .filter{

	margin-top: 15px;

	width: 140px;

}



.pageLinea .content .catalog .filter ul{

	background: #fbfaf9;

	display: block;

	padding: 10px 0px;

}



.pageLinea .content .catalog .filter ul li{

	

}



.pageLinea .content .catalog .filter ul li a{

	font-family: "TimesRoman", Arial, Helvetica, sans-serif;

	font-size: 16px;

	color: #1c322b;

	line-height: 45px;

	display: block;

	text-align: center;

	text-decoration: none;

}



.pageLinea .content .catalog .filter ul li a.active{

	font-family: "TimesBold", Arial, Helvetica, sans-serif;

}



.pageLinea .content .catalog .listProducts{

/*	background: pink;*/

	width: 860px;

}



.pageLinea .content .catalog .listProducts .group{

	display: flex;

	flex-wrap: wrap;

	/*justify-content: space-between;*/

}



.pageLinea .content .catalog .listProducts .group .item{

	font-family: "TimesRoman", Arial, Helvetica, sans-serif;

	color: #4c4c4c;

	margin: 25px;

	text-align: center;

	width: 220px;

}



.pageLinea .content .catalog .listProducts .group .item a{

	display: block;

	outline: none;

}



.pageLinea .content .catalog .listProducts .group .item a.btnImg{

  background-color: #eaeaea;

  min-height: 31px;

}



.pageLinea .content .catalog .listProducts .group .item img{

	display: block;

	height: auto;

	width: 100%;

}



.pageLinea .content .catalog .listProducts .group .item h3{

	font-size: 14px;

	font-weight: normal;

	line-height: 18px;

	display: block;

	padding-bottom: 4px;

}



.pageLinea .content .catalog .listProducts .group .item p{

	font-size: 12px;

	line-height: 14px;

	display: block;

	padding-bottom: 20px;

}



.pageLinea .content .catalog .listProducts .group .item .btn{

	background: #c5bdac;

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #fff;

	line-height: 20px;

	display: block;

	border-radius: 2px;

	margin: 0 auto;

	text-decoration: none;

	width: 70px;

	-webkit-transition: background .5s ease 0s;

	-moz-transition: background .5s ease 0s;

	transition: background .5s ease 0s;

}



.pageLinea .content .catalog .listProducts .group .item .btn:hover{

	background: #05301a;

}



/* - PAGINATOR - */

.pageLinea .content .pag{

	display: flex;

	justify-content: flex-end;

	padding-top: 10px;

	padding-right: 20px;

}



.pageLinea .content  .pag span{

	cursor: pointer;

	margin: 0 6px;

	height: 20px;

	width: 20px;

}



.pageLinea .content  .pag .aPrev{

	background: #e3e3e3 url(css/images/a_prev.png) no-repeat 50% 50%;

}



.pageLinea .content  .pag .aPrev:hover,

.pageLinea .content .pag .aPrev.active{

	background: #a89f8a url(css/images/a_prev.png) no-repeat 50% 50%;

}



.pageLinea .content  .pag .aNext{

	background: #e3e3e3 url(css/images/a_next.png) no-repeat 50% 50%;

}



.pageLinea .content .pag .aNext:hover,

.pageLinea .content  .pag .aNext.active{

	background: #a89f8a url(css/images/a_next.png) no-repeat 50% 50%;

}



/*********************************************************************

*** PAGE: REGALO *****************************************************

*********************************************************************/

.pageRegalo{

	

	/*height: 100vh;*/

  height: auto;

}



.pageRegalo .content{

	display: block;

	margin: 0 auto;

	padding-top: 130px;

	padding-bottom: 80px;

	width: 880px;

}



.pageRegalo .content h2{

	font-family: "TimesItalic", Arial, Helvetica, sans-serif;

	font-size: 34px;

	font-weight: normal;

	color: #585858;

	display: block;

	padding-bottom: 40px;

	text-align: center;

}



.pageRegalo .content > p{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 16px;

	color: #505050;

	line-height: 20px;

	display: block;

	text-align: center;

}



/* - FORM - */

.pageRegalo .content .formBuscar{

	display: block;

	padding-top: 80px;

}



.pageRegalo .content .formBuscar form{

	display: flex;

	justify-content: space-between;

}



.pageRegalo .content .formBuscar form .col{

	flex-basis: 40%;

}



.pageRegalo .content .formBuscar form .col select{

	font-family: "TimesRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	cursor: pointer;

	display: block;

	border: 1px #646463 solid;

	margin-bottom: 40px;

	padding: 5px 0px;

	text-align: center;

	text-align-last: center;

	width: 100%;

	outline: none;

}



.ddListContainer {

  width: 100% !important;

}



.ddListContainer > ul {

  width: 98% !important;

}



.ddListContainer > a {

  width: 100%;

  font-family: "TimesRoman", Arial, Helvetica, sans-serif;

  font-size: 14px;

  cursor: pointer;

  display: block;

  border: 1px #646463 solid !important;

  /*margin-bottom: 40px;

  padding: 5px 0px;*/

  text-align: center;

  text-align-last: center;

  color: black !important;

  /*padding: 9px 7px !important;*/



}



.ddListPaddingOpen {

  padding: 9px 7px !important;

}



.ddListPaddingClose {

  padding: 4px 7px !important;

}



.ddListContainer > a > label {

  font-weight: normal !important;

  

}



.ddListContainer  > a.ddListPaddingClose > label {

  padding: 0px !important;

  padding-top: 5px !important;

  display: block;

}



.ddListContainer  > a.ddListPaddingClose > img{

  height: 24px;

}



.ddListContainer:not(.ddListDisabled) > ul li a > label, .ddListContainer:not(.ddListDisabled) > span {

  display: block;

  padding-top: 8px;

}



.pageRegalo .content .formBuscar form .col .btn{

	background: #c5bdac;

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #fff;

	cursor: pointer;

	display: block;

	border-radius: 6px;

	border: 2px #c5bdac solid;

	margin-left: auto;

	padding: 6px 10px;

	text-decoration: none;

	outline: none;

	-webkit-transition: background .5s ease 0s, border .5s ease 0s;

	-moz-transition: background .5s ease 0s, border .5s ease 0s;

	transition: background .5s ease 0s, border .5s ease 0s;

}



.pageRegalo .content .formBuscar form .col .btn:hover{

	background: #05301a;

	border: 2px #05301a solid;

}



/*********************************************************************

*** PAGE: CONTACTO ***************************************************

*********************************************************************/

.pageContacto{

	background: #fff;

	display: block;

}



.pageContacto .content{

	display: flex;

	justify-content: space-between;

	margin: 0 auto;

	padding-top: 130px;

	padding-bottom: 100px;

	width: 1100px;

}



.pageContacto .content h2{

	font-family: "TimesItalic", Arial, Helvetica, sans-serif;

	font-size: 34px;

	font-weight: normal;

	color: #585858;

	display: block;

	padding-bottom: 40px;

	text-align: center;

}



.pageContacto .content .modContacto > p,

.pageContacto .content .modPuntos > p{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #505050;

	line-height: 17px;

	display: block;

}


/* MODULE HISTORY */
.pageHistory .content {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 1100px;
}
.pageHistory .content .modHistory{
	text-align: center;
}
.pageHistory .content .modHistory .subtitle{
	font-family: "TimesItalic", Arial, Helvetica, sans-serif;
	font-size: 29px;
}

.pageHistory .content .modHistory .container-form{
	display: flex;
	justify-content: center;
}
.pageHistory .content .modHistory .container-form form{
	width: 550px;
	margin-top: 20px;
}
.pageHistory .content .modHistory .container-form form .two-fields{
	display: flex;
}
.pageHistory .content .modHistory .container-form form .two-fields .dni{
	margin-right: 10px;
}
.pageHistory .content .modHistory .container-form form .terms{
	color: #585858;
    font-size: 14px;
	font-weight: 100;
	text-align: left;
}
.pageHistory .content .modHistory .container-form form .terms .checkbox{
	font-size: 13px;
	min-width: 80px;
}
.pageHistory .content .modHistory .container-form form .terms.info{
	display: flex;
}
.pageHistory .content .modHistory .container-form form .terms.info p:not(.checkbox){
	margin: 3px 3px 0 0;
}
.pageHistory .content .modHistory .container-form form .terms.conditions{
	margin: 5px 0 10px 0;
}
.pageHistory .content .modHistory .container-form form .terms a{
	color: #585858;
}
.pageHistory .content .modHistory .container-form form .div-line{
	display: flex;
    justify-content: center;
	color: #7C7D7D;
    margin: 25px 0;
}
.pageHistory .content .modHistory .container-form form .div-line .line{
	width: 50%;
}
.pageHistory .content .modHistory .container-form form .div-line .line hr{
	width: 100%;
}
.pageHistory .content .modHistory .container-form form .div-line .clic{
	width: 110px;
    font-size: 14px;
    font-weight: 100;
}
.pageHistory .content .modHistory .container-form form .div-line .clic i{
	font-size: 6px;
}
.pageHistory .content .modHistory .container-form form .btn{
	background: #C5BDAB;
	padding: 20px 0;
	font-size: 16px;
	border-radius: 5px;
	color: white;
	margin-top: 10px;
	width: 250px;
	cursor: pointer;
}
.pageHistory .content .modHistory .container-form form .btn-fb{
	background: #385599;
	padding: 20px 0;
	font-size: 16px;
	border-radius: 5px;
	color: white;
	margin-top: 10px;
	width: 250px;
	cursor: pointer;
}
.pageHistory .content .modHistory .container-form form .btn-fb i{
	border-right: 1px solid white;
    margin-right: 5px;
	padding-right: 10px;
	font-size: 18px;
}
.pageHistory .content .modHistory form .itArea{

	height: 200px;

}
.pageHistory .content .modHistory form .itCampo,

.pageHistory .content .modHistory form .itArea{

	font-family: "TimesRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #000;

	display: block;

	border: 1px #b2b2b2 solid;

	margin-bottom: 20px;

	padding: 8px;

	width: 100%;

	box-sizing: border-box;

	outline: none;

}
/* - MODULE: CONTACTO - */

.pageContacto .content .modContacto{

	flex-basis: 45%;

}



.pageContacto .content .modContacto form{

	display: block;

	padding-top: 20px;

}



.pageContacto .content .modContacto form .itCampo,

.pageContacto .content .modContacto form .itArea{

	font-family: "TimesRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #000;

	display: block;

	border: 1px #b2b2b2 solid;

	margin-bottom: 20px;

	padding: 8px;

	width: 100%;

	box-sizing: border-box;

	outline: none;

}

.pageContacto .content .modContacto form .itArea{

	height: 74px;

}



.pageContacto .content .modContacto form label{

	font-family: "TimesRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #7c7d7d;

	display: block;

	margin-bottom: 10px;

}



.pageContacto .content .modContacto form .btn,

.pageContacto .content .modPuntos .btn{

	background: #c5bdac;

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #fff;

	cursor: pointer;

	display: block;

	border-radius: 4px;

	border: 2px #c5bdac solid;

	margin-left: auto;

	padding: 4px 0;

	text-align: center;

	text-decoration: none;

	outline: none;

	width: 100px;

	-webkit-transition: background .5s ease 0s, border .5s ease 0s;

	-moz-transition: background .5s ease 0s, border .5s ease 0s;

	transition: background .5s ease 0s, border .5s ease 0s;

}



.pageContacto .content .modPuntos .btn{

	line-height: 18px;

}



.pageContacto .content .modContacto form .btn:hover,

.pageContacto .content .modPuntos .btn:hover{

	background: #05301a;

	border: 2px #05301a solid;

}



/* - MODULE: PUNTOS - */

.pageContacto .content .modPuntos{

	flex-basis: 45%;	

}



.pageContacto .content .modPuntos .map{

	display: block;

	padding: 25px 0px;

}



.pageContacto .content .modPuntos .map iframe{

	display: block;

	height: 256px;

	width: 100%;

}



/*********************************************************************

*** MENSAJES *********************************************************

*********************************************************************/



.swal-text {

  font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

  font-size: 16px;

  color: #505050;

  line-height: 20px;

  text-align: center;

}

.swal-title {

  font-family: "TimesItalic", Arial, Helvetica, sans-serif;

  font-size: 28px;

  font-weight: normal;

  color: #585858;

  text-align: center;

}



.swal-button {

  background: #c5bdac;

  font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

  font-size: 12px;

  color: #fff;

  cursor: pointer;

  display: block;

  border-radius: 6px;

  border: 2px #c5bdac solid;

  margin-left: auto;

  padding: 6px 10px;

  text-decoration: none;

  outline: none;

  -webkit-transition: background .5s ease 0s, border .5s ease 0s;

  -moz-transition: background .5s ease 0s, border .5s ease 0s;

  transition: background .5s ease 0s, border .5s ease 0s;

}



.swal-button:hover {

  background: #05301a;

  border: 2px #05301a solid;

}



.swal-button:active {

  background: #05301a;

  border: 2px #05301a solid;

}



.swal-button:focus {

    outline: none;

    box-shadow: none;

}





.inError {

  margin: 10px 0;

}



.inError p,
.inErrorHistory p{

  font-size: 12px;

  color: #ff0000;

  font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

  text-align: left;

}



.validInput {

  border: 1px solid #ff0000 !important;

}





/*********************************************************************

*** FOOTER ***********************************************************

*********************************************************************/

.footer{

	background: #8f8977;

	color: #fff;

	display: flex;

	flex-direction: column;

	align-items: center;

	padding-top: 28px;

	padding-bottom: 28px;

}



.footer ul{

	display: flex;

}



.footer ul li{

	

}



.footer ul li a{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #fff;

	line-height: 15px;

	border-right: 1px #fff solid;

	padding: 0px 10px;

	text-decoration: none;

}



.footer ul li:last-child a{

	border-right: 0;

}



.footer ul li a:hover{

	text-decoration: underline;

}



.footer p{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	padding-top: 15px;

}



.footer .social{

  padding: 15px 10px 0 10px;

}



.footer .social a{

  display: inline-block;

  margin: 0 5px;

}



/*********************************************************************

*** POPUP: INFO PRODUCT **********************************************

*********************************************************************/

.popupInfo{

	/*background: #f6f6ef;*/

	background: rgba(0,0,0,0.7);

	display: flex;

	align-items: center;

	justify-content: center;

	height: 100%;

	width: 100%;

	position: fixed;

	top: 0;

	left: 0;

    

    z-index: 10;

}



.popupInfo .content{

	display: flex;

    width: 1040px;

    

    background-color: #f6f6ef;

    height: 290px;

    padding: 30px;

    margin: auto;

    position: absolute;

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

}



/* - GALLERY - */

.popupInfo .content .gallery{

	display: flex;

	width: 40%;

}



.popupInfo .content .gallery .thumbs{

	box-sizing: border-box;

	padding-right: 10px;

	width: 20%;

}



.popupInfo .content .gallery .thumbs a{

	display: block;

	margin-bottom: 10px;

	outline: none;

}



.popupInfo .content .gallery .thumbs a img{

	display: block;

	height: auto;

	width: 100%;

}



.popupInfo .content .gallery .photo{

	width: 80%;

  background-color: #FFFFFF;

}



.popupInfo .content .gallery .photo img{

	display: block;

	height: auto;

	width: 100%;

    margin-top: 45%;

    transform: translate(0,-50%);

}



/* - DETAIL - */

.popupInfo .content .detail{

	color: #313130;

	box-sizing: border-box;

	/*padding-left: 40px;*/

	width: 60%;

}



.popupInfo .content .detail h3{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 28px;

	font-weight: normal;

	display: block;

	padding-top: 20px;

	padding-bottom: 10px;

}



.popupInfo .content .detail span{

	font-family: "TimesRoman", Arial, Helvetica, sans-serif;

	font-size: 12px;

	display: block;

	padding-bottom: 20px;

}



.popupInfo .content .detail p{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 15px;

	line-height: 20px;

	display: block;

	padding-bottom: 20px;

}



.popupInfo .content .detail .group{

	display: flex;

}



.popupInfo .content .detail .group a{

	background: #c5bdac;

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #fff;

	line-height: 24px;

	border-radius: 4px;

	padding: 0 10px;

	margin-right: 10px;

	text-decoration: none;

	-webkit-transition: background .5s ease 0s;

	-moz-transition: background .5s ease 0s;

	transition: background .5s ease 0s;

}



.popupInfo .content .detail .group a:hover{

	background: #05301a;

}



/* - CLOSE - */

.popupInfo .close,

.popupRegalo .close,

.popupTerminos .close,

.popupEncuentranos .close{

	background: transparent url(css/images/ico_close2.png) no-repeat 50% 50%;

	cursor: pointer;

	display: block;

	height: 32px;

	width: 30px;

	position: absolute;

	top: 20px;

	right: 20px;

}



/*********************************************************************

*** POPUP: REGALO ****************************************************

*********************************************************************/

.popupRegalo{

	/*background: #f6f6ef;*/

	background: rgba(0,0,0,0.8);

	display: flex;

	align-items: center;

	justify-content: center;

	height: 100%;

	width: 100%;

	position: fixed;

	top: 0;

	left: 0;

  

    z-index: 10;

}



.popupRegalo .content{

	/*display: flex;*/

    background: #f6f6ef;

    width: 800px;

    height: 400px;

    margin: auto;

    position: absolute;

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

    padding: 30px;

}



.popupRegalo .content h3{

	font-family: "TimesItalic", Arial, Helvetica, sans-serif;

	font-size: 40px;

	font-weight: normal;

	color: #545452;

	display: block;

	text-align: center;

	padding-bottom: 10px;

}



.popupRegalo .content img{

	display: block;

	height: auto;

	width: 100%;

}



.popupRegalo .content h4{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 18px;

	font-weight: normal;

	color: #313130;

	display: block;

	text-align: center;

	padding-top: 10px;

	padding-bottom: 20px;

}



.popupRegalo .content span{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #313130;

	display: block;

	text-align: center;

}



.popupRegalo .content p{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #313130;

	line-height: 18px;

	display: block;

	text-align: center;

}



.popupRegalo .content .group{

	display: flex;

	justify-content: center;

	padding-top: 20px;

}



.popupRegalo .content .group a{

	background: #c5bdac;

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #fff;

	line-height: 24px;

	border-radius: 4px;

	margin: 0 10px;

	padding: 0 10px;

	text-decoration: none;

	-webkit-transition: background .5s ease 0s;

	-moz-transition: background .5s ease 0s;

	transition: background .5s ease 0s;

  text-align: center;
}



.popupRegalo .content .group a:hover{

	background: #05301a;

}





/*********************************************************************

*** POPUP: TÉRMINOS ****************************************************

*********************************************************************/

.popupTerminos{

	/*background: #f6f6ef;*/

	background: rgba(0,0,0,0.8);

	display: flex;

	align-items: center;

	justify-content: center;

	height: 100%;

	width: 100%;

	position: fixed;

	top: 0;

	left: 0;

  

    z-index: 10;

}



.popupTerminos .content{

	/*display: flex;*/

    background: #f6f6ef;

    width: 800px;

    height: 400px;

    margin: auto;

    position: absolute;

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

	padding: 30px;

}


.popupTerminos .content h3{

	font-family: "TimesItalic", Arial, Helvetica, sans-serif;

	font-size: 40px;

	font-weight: normal;

	color: #545452;

	display: block;

	text-align: center;

	padding-bottom: 10px;

}



.popupTerminos .content h4{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 16px;

	font-weight: normal;

	color: #313130;

	display: block;

	padding-bottom: 10px;

	padding-top: 20px;

}





.popupTerminos .content span{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #313130;

	display: block;

	text-align: center;

}



.popupTerminos .content p,
.popupTerminos .content ul{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #313130;

	line-height: 18px;

	display: block;

	text-align: justify;

}
.popupTerminos .content .history-terms p{
	padding-left: 19px;
}
.popupTerminos .content .history-terms ul:not(.check) {
    list-style-type: disc;
    margin-left: 36px;
}
.popupTerminos .content .history-terms ul.check li:before {
	content: '✓';
}
.popupTerminos .content .history-terms ul.check {
	margin-top: 20px;
}
.popupTerminos .content .history-terms ul li{
	margin-bottom: 10px;
}

.popupTerminos .history-terms  .sb-content{
    padding-right: calc(20% + 10px) !important;
}





/*********************************************************************

*** POPUP: ENCUENTRANOS **********************************************

*********************************************************************/

.popupEncuentranos{

	/*background: #f6f6ef;*/

	background: rgba(0,0,0,0.8);

	display: flex;

	align-items: center;

	justify-content: center;

	height: 100%;

	width: 100%;

	position: fixed;

	top: 0;

	left: 0;

  

  z-index: 10;

}



.popupEncuentranos .content{

	width: 700px;

    padding: 30px;

    background: #f6f6ef;

    height: 550px;

    margin: auto;

    position: absolute;

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

}



.popupEncuentranos .content h3{

	font-family: "TimesItalic", Arial, Helvetica, sans-serif;

	font-size: 40px;

	font-weight: normal;

	color: #545452;

	display: block;

	text-align: center;

	padding-bottom: 40px;

}



.popupEncuentranos .content .group{

	display: flex;

	justify-content: center;

}



.popupEncuentranos .content .group a{

	background: #a1a2a1;

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #fff;

	line-height: 30px;

	border-radius: 2px;

	margin: 0 10px;

	text-align: center;

	text-decoration: none;

	-webkit-transition: background .5s ease 0s;

	-moz-transition: background .5s ease 0s;

	transition: background .5s ease 0s;

	width: 120px;

}



.popupEncuentranos .content .group a:hover,

.popupEncuentranos .content .group a.active{

	background: #c5bdac;

}



/* - PLACES - */

.popupEncuentranos .content .places{

	display: flex;

	flex-wrap: wrap;

	justify-content: space-between;

	padding-top: 40px;

}



.popupEncuentranos .content .places .item{

	font-family: "TimesRoman", Arial, Helvetica, sans-serif;

	color: #3f3f3d;

	margin: 20px;

	text-align: center;

	width: 280px;

}



.popupEncuentranos .content .places .item h4{

	background: transparent url(css/images/ico_pin.png) no-repeat 50% 0%;

	font-size: 18px;

	font-weight: normal;

	display: block;

	padding-top: 30px;

	padding-bottom: 10px;

}



.popupEncuentranos .content .places .item p{

	font-size: 13px;

	line-height: 16px;

}



.popupEncuentranos .content .places .item .email{

	font-size: 13px;

	line-height: 16px;

	color: #3f3f3d;

	text-decoration: none;

}



.popupEncuentranos .content .places .item .email:hover{

	text-decoration: underline;

}



.popupEncuentranos .content .places .item .btns{

	display: flex;

	justify-content: center;

	padding-top: 20px;

}



.popupEncuentranos .content .places .item .btns .phone{

	background: #c5bdac url(css/images/ico_phone.png) no-repeat 8px 50%;

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #fff;

	line-height: 24px;

	border-radius: 2px;

	margin: 0 10px;

	padding-left: 25px;

	padding-right: 10px;

	text-align: center;

}



.popupEncuentranos .content .places .item .btns a{

	background: #c5bdac;

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #fff;

	line-height: 24px;

	border-radius: 2px;

	margin: 0 10px;

	text-align: center;

	text-decoration: none;

	width: 90px;

	-webkit-transition: background .5s ease 0s;

	-moz-transition: background .5s ease 0s;

	transition: background .5s ease 0s;

}



.popupEncuentranos .content .places .item .btns a:hover{

	background: #9e9581;

}



/* - NAV - */

.popupEncuentranos .aPrev{

	background: #c5bdac url(css/images/a_prev2.png) no-repeat 50% 50%;

	cursor: pointer;

	display: block;

	height: 30px;

	width: 30px;

	position: fixed;

	top: 50%;

	left: 20px;

}



.popupEncuentranos .aNext{

	background: #c5bdac url(css/images/a_next2.png) no-repeat 50% 50%;

	cursor: pointer;

	display: block;

	height: 30px;

	width: 30px;

	position: fixed;

	top: 50%;

	right: 20px;

}



/* - FILTER MOV - */

.popupEncuentranos .content .movFilter{

	font-family: "HelveticaNeueRoman", Arial, Helvetica, sans-serif;

	font-size: 13px;

	color: #505050;

	display: none;

	border: 1px #7c7c7c solid;

	margin: 0 auto;

	padding: 5px 0px;

	text-align: center;

	text-align-last: center;

	width: 150px;

}



/*********************************************************************

*** CLEAR FIX ********************************************************

*********************************************************************/

.clear{

  clear: both;

}



/*********************************************************************

*** VERSIÓN: TABLET / MOVIL (MEDIA-QUERIES) **************************

*********************************************************************/

@media (width: 1366px) and (max-height: 668px){

  

  

  

}



@media (min-width: 1221px) and (max-height: 868px){

	

	.pageHome{

		background-size: 100% auto;

	}

	

}



@media (min-height: 869px){

	

	.pageHome{

		background-size: cover;

	}

	

}



@media (max-height: 784px){

	

	.pageLinea{

		height: auto;

	}

	

}



@media (max-height: 605px){

	

	.pageRegalo{

		height: auto;

	}

	

}



@media (max-width: 1200px){

	

	.pageContacto .content{

		width: 90%;

	}
	.pageHistory .content{

		width: 90%;

	}

	

	.popupInfo .content, .popupRegalo .content, .popupTerminos .content{

		width: 90%;

	}

	

}



@media (max-width: 1100px){

	

	.pageLinea .content{

		width: 90%;

	}

	

	.pageLinea .content .catalog .filter{

		/*flex-basis: 15%;*/

      width: 200px;

	}

	

	.pageLinea .content .catalog .listProducts{

		/*flex-basis: 80%;*/

      width: 800px;

	}

  

  .pageLinea .content .catalog .listProducts .group .item {

    width: 200px;

  }

	

}



@media (max-width: 950px){

	

	.pageLinea .content .catalog{

		display: block;

	}

	

	.pageLinea .content .catalog .movFilter{

		display: block;

	}

	

	.pageLinea .content .catalog .filter{

		display: none;

	}

	

	.pageLinea .content .catalog .listProducts{

		flex-basis: auto;

		width: auto;

	}

	

	.pageLinea .content .catalog .listProducts .group{

		justify-content: center;

	}

	

	.pageLinea .content .catalog .listProducts .pag{

		justify-content: center;

		padding-right: 0;

	}

	

	.pageRegalo .content{

		width: 90%;

	}

	

	.popupInfo .content .detail h3{

		font-size: 20px;

	}

	

	.popupInfo .content .detail p{

		font-size: 12px;

		line-height: 15px;

	}

	.pageHistory .content .modHistory .title{
		width: 400px
	}

}



@media (max-width: 820px){

	

	.pageLinea{

		height: auto;

	}

	

	.popupEncuentranos .content{

		width: 80%;

	}

	

	.popupEncuentranos .content .group{

		display: none;

	}

	

	.popupEncuentranos .content .movFilter{

		display: block;

	}

	

	.popupEncuentranos .content .places{

		justify-content: center;

	}

	

}



@media (max-width: 720px){

	

	.pageHome{

		background-position: 30% 100%;

	}

	

	.pageHome h1{

		background-size: contain;

		height: 66px;

		width: 200px;

	}

	

	.pageHome .intro{

		background-size: 100% auto;

		padding-top: 120px;

		width: 310px;

	}

	

	.pageHome .intro a{

		font-size: 14px;

		line-height: 18px;

		width: 30%;

		padding-top: 64px;

		text-align: center;

        opacity: 1;

	}

	

	/*.pageHome .intro a.ico01,

	.pageHome .intro a.ico02{

		background-size: 50px auto;

	}

	

	.pageHome .intro a.ico03{

		background-size: 34px auto;

	}*/

	

	.pageRegalo .content > p{

		font-size: 13px;

		line-height: 16px;

	}

	

	.pageRegalo .content .formBuscar{

		padding-top: 40px;

	}

	

	.pageRegalo .content .formBuscar form .col{

		flex-basis: 45%;

	}

	

	.pageContacto .content{

		display: block;

		width: 80%;

	}
	.pageHistory.content{

		display: block;

		width: 80%;

	}

	.pageHistory .content .modHistoy .title{
		width: 350px
	}

	.pageContacto .content .modContacto{

		padding-bottom: 20px;

	}

	.pageContacto .content .modContacto{

		display: block;

		border-bottom: 1px #b2b2b2 dashed;

		padding-bottom: 40px;

	}

	

	.pageContacto .content .modContacto > p,

	.pageContacto .content .modPuntos > p{

		text-align: center;

	}

	

	.pageContacto .content .modContacto form .btn,

	.pageContacto .content .modPuntos .btn{

		margin: 0 auto;

	}

	

	.pageContacto .content .modPuntos{

		display: block;

		padding-top: 40px;

	}

	

	.popupInfo .content{

		flex-direction: column;

		align-items: center;

		width: 60%;

	}

	

	.popupInfo .content .gallery{

		order: 1;

		padding-top: 20px;

		width: 100%;

	}

	

	.popupInfo .content .detail{

		padding-left: 0;

		width: 100%;

	}

	

	.popupRegalo .content{

		width: 80%;

	}

	.popupTerminos .content{

		width: 80%;

	}

  

  .popupEncuentranos .content .places .item h4 {

    background:none;

    padding-top: 0;

  }

  

  .popupEncuentranos .content .places {

    padding-top: 0;

  }

	

}



@media (max-width: 640px){

	

	.pageHistory .content .container-form form .terms span{
		display: block;
	} 
	.popupRegalo .content h3{

		font-size: 28px;

	}

	

	.popupTerminos .content h3{

		font-size: 28px;

	}

	

	.popupRegalo .content h4{

		font-size: 16px;

	}

	

	

	.popupTerminos .content h4{

		font-size: 14px;

	}

	

	.popupRegalo .content span,

	.popupRegalo .content p{

		font-size: 12px;

		line-height: 16px;

	}

	

	.popupTerminos .content span,

	.popupTerminos .content p{

		font-size: 12px;

		line-height: 16px;

	}

	

	.footer ul{

		flex-wrap: wrap;

		justify-content: center;

		width: 280px;

	}

	

	.footer ul li a{

		border-right: 1px #b7b19e solid;

	}


  .popupInfo .content .detail .group {
    display: block;
  }

  .popupInfo .content .detail .group a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .popupInfo .content .gallery {
    padding-top: 10px;
  }
	

}



@media (max-width: 420px){

	

	.pageHome{

		background-size: auto 100%;

	}
	.pageHistory .content .modHistory .title{

		width: 300px;

	}
	.pageHistory .content .modHistory .subtitle{

		font-size: 20px;

	}
	

	.pageHome .intro{

		padding-top: 100px;

        padding-bottom: 150px;

		width: 280px;

	}

	

	.menu,
	.menu-history{

		margin-left: -120px;

		padding: 5px 0px;

	}

	

	.menu a,
	.menu-history a{

		height: 25px;

	}

	

	.menu a.icologo,
	.menu-history a.icologo{

		background-size: 120px auto;

		width: 120px;

	}

	

	.menu a.ico01,
	.menu-history a.ico01{

		background-size: 15px auto;

		width: 40px;

	}

	

	.menu a.ico02,
	.menu-history a.ico02{

		background-size: 18px auto;

		width: 40px;

	}

	

	.menu a.ico03,
	.menu-history a.ico03{

		background-size: 12px auto;

		width: 40px;

	}

	

	.pageLinea .content{

		padding-top: 92px;

	}

	

	.pageLinea .content h2{

		font-size: 26px;

		padding-bottom: 20px;

	}

	

	.pageLinea .content > p{

		font-size: 12px;

		line-height: 15px;

		width: auto;

	}

	

	.pageLinea .content .catalog{

		padding-top: 20px;

	}

	

	.pageLinea .content .catalog .listProducts .group .item{

		margin: 15px;

	}

	

	.pageRegalo .content{

		padding-top: 92px;

	}

	

	.pageRegalo .content h2{

		font-size: 26px;

		padding-bottom: 20px;

	}

	

	.pageRegalo .content > p{

		font-size: 12px;

		line-height: 15px;

	}

	

	.pageRegalo .content .formBuscar{

		padding-top: 20px;

	}

	

	.pageRegalo .content .formBuscar form{

		display: block;

	}

	

	.pageRegalo .content .formBuscar form .col select{

		margin-bottom: 20px;

	}

	

	.pageRegalo .content .formBuscar form .col .btn{

		margin: 0 auto;

	}

	

	.pageContacto .content{

		padding-top: 92px;

		padding-bottom: 60px;

		width: 90%;

	}
	.pageHistory .content{

		width: 90%;

	}

	

	.pageContacto .content h2{

		font-size: 26px;

		padding-bottom: 20px;

	}

	

	.pageContacto .content .modContacto > p,

	.pageContacto .content .modPuntos > p{

		font-size: 12px;

		line-height: 15px;

	}

	

	.popupInfo .content{

		width: 80%;

    height: 480px;

	}

  

    .popupInfo .content .gallery .photo {

      height: 220px;

      margin: auto;

    }

  

    .popupRegalo .content {

      height: 300px;

    }

	

    .popupTerminos .content {

      height: 400px;

    }

	

	.popupRegalo .content h3{

		font-size: 22px;

	}

	

	.popupTerminos .content h3{

		font-size: 22px;

	}

	

	.popupRegalo .content h4{

		font-size: 14px;

		padding-bottom: 10px;

	}

	

	.popupTerminos .content h4{

		font-size: 13px;

		padding-bottom: 10px;

	}

	

	.popupEncuentranos .content .places .item .btns .phone,

	.popupEncuentranos .content .places .item .btns a{

		margin: 0 2px;

	}

	

	.popupEncuentranos .aNext{

		right: 5px;

	}

	

	.popupEncuentranos .aPrev{

		left: 5px;

	}

	

}

@media (max-width: 360px){
	.pageHistory .content .modHistory .title{

		width: 250px;

	}
}

